BETTER_AUTH_SECRET=vervang-dit-door-een-lange-willekeurige-string
BETTER_AUTH_URL=http://localhost:5173
PORT=3001

# Dokploy / productie
# PORT=3000
# BETTER_AUTH_URL=https://scanner.thisisours.duckdns.org

# Productie in Dokploy, bijv. https://pokscanner.jouwdomein.be
# BETTER_AUTH_URL=https://pokscanner.jouwdomein.be

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
FACEBOOK_CLIENT_ID=
FACEBOOK_CLIENT_SECRET=
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
